/* Media Queries */
@media (pointer: coarse) {
  .contents__card:hover {
    transform: none;
  }
}
@media screen and (max-width: 700px) {

  .container_planos {
    display: block;
    flex-direction: column;
    justify-content: center;
  }
  .card_conteiner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }
  .header__channels {
    gap: 10px;
    flex-wrap: wrap;
  }
  .nav_logo {
    width: 110px;
  }
  .nav_container {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .planos_conteiner_text {
    font-size: 1.5rem;
  }
  .plano_responsive {
    height: 380px;
  }
  .plano_mobile_conteiner {
    margin-top: 50px;
    border: 1px solid var(--card-bg-ofert);
   
  }
  .footer_container {
    flex-wrap: wrap;
  }
  .footer_links{
    padding-right: 50px;
    padding-top: 0%;
  }  
  .footer_text_container {
    padding: 20px;
  }
}

@media screen and (max-width: 400px) {

  .container_planos {
    padding: 5px;
    display: block;
    flex-direction: column;
    justify-content: center;
  }
  .plano_mobile_text {
    font-size: 1.1rem;
  }
  .card_conteiner {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 5px;
  }
  .header__channels {
    gap: 10px;
    flex-wrap: wrap;
  }
  .nav_logo {
    width: 110px;
  }
  .nav_container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  .planos_conteiner_text {
    font-size: 1.3rem;
    padding: 20px;
  }
  .plano_responsive {
    height: 380px;
  }
  .plano_mobile_conteiner {
    margin-top: 50px;
    border: 1px solid var(--card-bg-ofert);
  }
  .footer_container {    
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px 0px 20px 20px
  }
  .footer_text_container {
    padding: 20px;
  }
  .plano_mobile_h3, .plano_mobile_price, .plano_mobile_price_mes {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 360px) {
   .plano_mobile_text {
    font-size: 0.5rem;
  }
  .plano_responsive {
    height: 450px;
  }
  .plano_mobile_h3, .plano_mobile_price, .plano_mobile_price_mes {
    flex-wrap: wrap;
    justify-content: center;
  }
  .plano_mobile_conteiner {
    min-height: 600px;
  }
  .plano_mobile_bnt {
    text-align: center;
    flex-wrap: wrap;
  }
  .header_h1, .header_span_h1 {
    margin-top: 20px;
    font-size: 1.5rem;
    padding: 10px;
  }
  .card_conteiner {
    display: grid;
    grid-template-columns: repeat(6, 100%);
    gap: 5px;
    overflow: auto hidden;
    grid-auto-flow: column;
  }
}
@media screen and (max-width: 950px) {
.plano_mobile_conteiner, .planos_mobile_multitelas, .container_planos {
  padding: 15px;
}
.plano_mobile_text {
  font-size: 1.1rem;
}
.plano_mobile_h3, .plano_mobile_price, .plano_mobile_price_mes {
  flex-wrap: wrap;
  justify-content: space-between;
}
}


/* Page Login */

    @media (min-width: 150px) and (max-width: 800px) {

      .login_container {
        width: 85vw;
      }
      #login_titulo {
        width: 85vw;
      }
      .login_text {
        width: 85vw;
      }
      /* login_button */
      .login_btn_container {
        width: 85vw;
        flex-direction: column;
        flex-wrap: wrap;
      }
      .login_container h2 {
        padding-top: 14rem;
        font-size: medium;
      }
      .footer_container {
        padding-top: 10rem;
      }
    }